<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                2023. MC SUNRISE INVESTMENT INC Todos los Derechos Reservados © <a href="URL">Softs-Group.com</a>
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    Póngase en contactos con su agente de soporte para posibles problema que pueda presentar la aplicación 
                </div>
            </div>
        </div>
    </div>
</footer>

